.select {
    font-size: 50px;
    text-align: center;
    color: white;
    display: block;
    font-family: 'Bilbo', cursive;
    border-radius: 50px;
    border: 2px solid white;
    text-decoration: none;
    
    
    
    
    
}

.select:hover {
    background-color: purple;
}

.secret{
    font-size: 100px;
    text-align: center;
    color: black;
    display: block;
    font-family: 'Bilbo', cursive;
    border-radius: 50px;
    border: 2px solid white;
    margin: 100px;
    text-decoration: none;
    
}