body{
    margin: 0;
    padding: 0;
}

#game-screen{
    display: block;
}


#gameOver, #playHUD {
    position: absolute;
    visibility: hidden;
}


h1,h2,h3,a{
    font-family: 'Bilbo', cursive;
    color: white;
    text-align: center;
}

.title {
    font-size: 100px;
    margin-bottom: 0px;
    margin-top: 0px;
}

#restartButton {
    border: 2px solid white;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 0px;
    
}

#restartButton:hover{
    background-color: purple;
}

#scoreboard {
   margin: 0px;
   font-size: 30px;
}

#returnButton {
    border: 2px solid white;
    border-radius: 50px;
    font-size: 50px;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}

#returnButton:hover{
    background-color: purple;
}